@model YOLO.Models.Experience

@{
    ViewData["Title"] = "YOLO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Edit</h2>
    <hr />
    <h4>Edit this Experience: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ExperienceId)

        <p>@Html.LabelFor(model => model.Name)</p>
        <p>@Html.EditorFor(model => model.Name)</p>

        <p>@Html.LabelFor(Model => Model.Description)</p>
        <p>@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })</p>

        <p>@Html.LabelFor(Model => Model.Image)</p>
        <p>@Html.EditorFor(model => model.Image)</p>

        <p>@Html.LabelFor(model => model.LocationId)</p>
        <p>>@Html.DropDownList("LocationId")</p>

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index", "Locations")</p>
