@model YOLO.Models.Location

@{
    ViewData["Title"] = "Location - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Loction Details</h2>
<hr />
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) | @Html.ActionLink("Back to List", "Index")</p>
<hr />
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Image):<br /> <img src=@Html.DisplayFor(model => model.Image)></p>

<hr />
<p>@Html.DisplayNameFor(model => model.Experiences):</p>

<table class="table">
    @foreach (var experience in Model.Experiences)
    {
        <tr>
            <td>
               <p>@Html.DisplayNameFor(model => experience.Name):@Html.DisplayFor(modelItem => experience.Name)</p>
                
                <p>@Html.DisplayNameFor(model => experience.Description): @Html.DisplayFor(model => experience.Description)</p>
                <p>@Html.DisplayNameFor(model => experience.Image): <br /> <img src=@Html.DisplayFor(model => experience.Image)></p>
               @Html.ActionLink("Edit", "Edit", "Experiences", new { id = experience.ExperienceId }) | @Html.ActionLink("Delete", "Delete", "Experiences", new { id = experience.ExperienceId })
            </td>
            
        </tr>
    }
</table>
<hr />



