@model YOLO.Models.Location

@{
    ViewData["Title"] = "YOLO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Edit</h2>
    <hr />
    <h4>Edit this Location: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.LocationId)

        <p>@Html.LabelFor(model => model.Name)</p>
        <p>@Html.EditorFor(model => model.Name)</p>

        <p>@Html.LabelFor(model => model.Description)</p>
        <p>@Html.EditorFor(model => model.Description)</p>

        <p>@Html.LabelFor(model => model.Image)</p>
        <p>@Html.EditorFor(model => model.Image)</p>

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
