@model IEnumerable<YOLO.Models.Location>

@{
    ViewData["Title"] = "YOLO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>YOLO</h2>
<hr />
@Html.ActionLink("Create New", "Create") | @Html.ActionLink("Go back Home", "Index", "Home")
<hr />
<table class="table">
    <tr>
        <th>
        <th></th>
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        </th>
    </tr>

    @foreach (var listItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listItem.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listItem.LocationId }) |
                @Html.ActionLink("Details", "Details", new { id = listItem.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listItem.LocationId }) |
                @Html.ActionLink("Add New Experience", "Create", "Experiences")
            </td>
        </tr>
    }
</table>
<hr />


